<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @lead.user %>
</p>

<p>
  <strong>Reports:</strong>
  <%= @lead.reports %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
